* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(251,238,194);
    
}

.navbar {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.625rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  font-size: 1.563rem;
  background-color: dimgray;
}

nav > a {
  position: relative;

  max-width: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.nav-links {
  margin-top: 0.005rem;
  margin-bottom:0.005rem;
  margin-left:0.625;
  margin-right:0.625;
  padding: 2rem;
  font-size: 1.5rem;
  color: white;
}


@media only screen and (min-width: 37.5rem) {
  #video {
      font-size: 1.5rem;
      top: 15%;
      left: 10%;
      width: 85%;
      height: 70%;
  }

  @media only screen and (min-width: 80.063rem) {
      #main {
          font-size: 2rem;
          top: 20%;
          left: 15%;
          width: 70%;
          height: 60%;
      }
  }
}


.breadcrumb {
  padding: 0rem 0rem 0rem 0.1rem;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  position: relative;
  max-width: 100%;
  max-height: 30%;
}
.breadalign{
  position: relative;
  padding: 0rem 0rem 1.2rem 0rem;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.breadcrumb li {
  display: inline;
  font-size: 20px;
}
.breadcrumb li+li:before {
  padding: 1.2rem;
  content: ">";
}

/* .breadcrumb li a {
  color: #9C0D0D;
  text-decoration-style: double;
}
.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
} */


.links{ 
    /* padding-left:2%; */
    /* padding-right: 2%; */
    margin-left:30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:flex;
}
    
li a {
   display: block;
   color: white;
   font-size:20px;
   text-align: center;
   padding: 25px 100px 25px 100px;
   text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}


.title{
    text-align: center;
    padding-top:7%;
    padding-bottom:3%;
    background-color: rgb(102,153,102);
    margin-bottom:0;
}

.contacts{
    position: relative;
    display: flex;
    margin-right: 0;
    margin-top:10px;
    margin-bottom: 5%;
    padding-left : 5%;
    padding-top: 10%;
    padding-bottom: 15%;
    padding-right:5%;  
    background-color: rgb(102,153,102);
    align-content: center;
    width:100%;
    
}

.title{
    margin-right:5%;
    font-family: 'Josefin Slab', serif;
    font-size:25px ;
}
.p1{
    margin-right:5%;
}

.heading{
    text-align: center;
    color: #4d0000;
    font-size: 20px;
    margin-bottom: 4%;
    
}

.contact{
    text-align: center;
    color: #4d0000;
}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #45a049 ;
    color: #4d0000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right; 
  }
  
  input[type=submit]:hover {
    background-color: #004c00;
  }
  
  .container {
    border-radius: 5px;
    background-color: rgba(145,188,138,0.75);
    opacity: 0.5;
    padding: 20px;
  }
  
  .col-25 {
    color: #000000;
    opacity: 9.5;
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.foo{
    background-color: #333;
}

.f1{
    color:white; 
    font-size:14px; 
    padding-top:1%;
    text-align: center;
}





